tags
*.pyc
*~
*.[oa]
results.json
*.dub
*.so
*.lst

build/
docs/
test/outdata/
test/trace.*
resources/version.txt

binary_size.txt
dub.selections.json
autobuild
.autobuild.bin
dscanner_report.txt
docs.json
