.dub/
bin/
deleteme/
docs/docs.json
docs/public/file_hashes.json
docs/public/*.html
docs/public/sitemap.xml
docs/public/symbols.js
docs/public/scriptlike/

dub.selections.json

src/scriptlike/packageVersion.d
ddoc/packageVersion.ddoc

examples/dub-project/myscript
examples/plain-script/.myscript
tests/.testExample*
tests/bin/

*.exe
